*{
    box-sizing: border-box;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
   padding: 0;
   width: 100%;
   color: #686060;
}
:root{
    --hoverTextColor:rgb(98, 38, 81);
    --textColor:rgb(159, 32, 137);
}
/* header section */
.header{
    height: 70px;
    outline: 1px solid rgb(153, 146, 146);
    padding: 0px 70px;
    display: flex;
     align-items: center;
}
.logo img{
    width: 200px;
}
/* search bar */
.searchbar img{ 
    width:20px;
    margin-left: 10px;

}
.searchcontainer{
    border: 1px solid rgb(122, 99, 99);
    border-radius: 3px;
}
.searchbar1 input{
   margin-top: 1px;
   width: 340px;height: 30px;
   border: none;
   outline: none;
}
.searchcontainer{
    outline: 1px solid #ccc;
    max-width: 440px;
    display: flex;
    align-items: center;
}
form{
    width: 100%;
}
.searchRecentModal{
    position: absolute;
    bottom: 0;
    left: 280px;
    top: 53px;
    height: 400px;
    width: 365px;
    display: none;
    background-color: white;
}
.searchcontainer:focus-within .searchRecentModal{
    display: block;
}
.recentItem{
    display: flex;
    align-items: center;
    background-color: white;
}

.recentitem, button{
    width: 80px;height: 40px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgb(227, 230, 233);
}
/* right */
.mobileIcon{
    width: 15px;
    margin-right:  25px;
    margin-left: 40px;
   
} 
.downloadContainer{
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 20px;
    position: relative;margin-left: 50px;
}
.downloadContainer p{
    margin-right: 130px;
}
.downloadContainer:hover{
    color:var(--hoverTextColor);
    cursor: pointer;
}
.downloadBtn img{
    width: 140px;
}
.downloadBtn{
    display: block;
    width: 140px;
    margin-top: 5px;
}

 .becomeSupplierContainer{
    padding: 0px 40px;
    border-left: 1.5px solid #ccc;
    border-Right: 1.5px solid #ccc;
    font-size: 17px;
}

.downloadHoverBtnContainer{
    position: absolute;
    bottom: 0;
    top:40px;
    /* box-shadow: 0px 0px 5px rgba(0,0,0,0.3); */
    width: 200px;
    /* background-color: red; */
    display: none;
    height: 200px;
    padding: 10px;
    margin-left: -30px;
    color:var(--textColor);
    background: white;
    z-index: 2;
}
.downloadContainer:hover .downloadHoverBtnContainer,
.downloadContainer:focus .downloadHoverBtnContainer{
    display: block;
}
.downloadContainer p{
    margin:0;
    padding: 0;
    font-size: 17px;
}
.profileAndCart{
    display: flex;
    align-items: center;
    
}
.profileAndCart:hover,
.profileAndCart:focus{
    color: var(--hoverTextColor);
}

.profileIcon,
.CartIcon{
    width: 20px;
}
.profileAndCart p{
    margin:0;
    padding: 0;

}
.profileContainer,
.CartContainer{
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
 nav{
    width: 100%;
    border-bottom: 2px solid #ccc;
    height: 50px; 
}
 nav ul {
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0px 10px;
    padding: 0;
    height: 100%;
    position: relative;
}
nav ul li{
    height: 100%;
    display:flex;
    align-items: center;
    cursor: pointer;
} 
nav ul li:hover{
    color:var(--hoverTextColor);
    border-bottom: 3px solid var(--hoverTextColor);
}
.subMenu{
    position: absolute;
    width: 150vh;
    height: 400px;
    background-color: white;
    top: 50px;left: 0;right:0;
    margin-left: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 0px 10px;
    display: none;
    padding:20px;
}
nav ul li:hover .subMenu{
    display: block;
}
.subMenu p{
    color:var(--textColor)
}
.submenuList{
    display: flex;
}
.column{
    margin-right: 40px;
}
/* main content */
.lowestpriceContainer{
    display: flex;
    margin:50px auto;
    max-width: 1100px;
    font-family:"Mier bold";
    background-color: rgb(248, 248, 255);;
}
.lowestpriceContainer h1{
    font-size: 40px;
    margin: 0;
    color:rgb(36, 31, 31);
}
.lowestPrice_text{
    width: 50%;
    padding: 25px 0 0 25px;
}
.lowestPrice_image{
    width: 50%;
}
.lowestPrice_icon{
    width: 30px;
    border-radius: 40px;
    background-color: rgb(121, 22, 98);   
}
.lowestPriceWhay{
    display: flex;
    height: 50px;
    margin: 20px 0;
}
.lowestPriceItem{
    padding:  0 20px;
    width: 100%;
    display: flex;
    align-items: center;
    border-right: 2px solid #ccc;
}
.lowestPriceItem p{
    padding-left: 10px;
}
.downloadApp_contianer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    height: 50px;
    background-color: var(--hoverTextColor);
    border:none;
    outline: none;
    padding: 0 130px;
    border-radius: 5px;
    color:white;
}
.downloadApp_contianer img{
    right: 40px;
}
.downloadApp_contianer p{
    padding: 0px 20px;
}
/*  */
.topCategoriesFrom{
    width: 1100px;
    margin: auto;
}
.topCategoriesHeading{
    display: flex;
    align-items: center;
    
}
.horizontalLine{
    padding: 1px;
    background-color: var(--hoverTextColor);
    width:50%;
    
}
.topCategoriesHeading h1{   
    width: max-content;
    width: 1050px;
    color:rgb(8, 8, 8);
    font-size: 38px;
    margin: 0;
}
.topCategoreisImage{
    width: 100%;
    height: 500px;
    background-image: url("./img/backgroundimage.webp");
    background-repeat: no-repeat;
    margin-top: 50px;
    display: flex;
    align-items: flex-end;
}
.topCategoreisImage img{
    max-width: 300px;
    margin: 10px;
    bottom: 0;
}
.topCategoreisImage img:first-child{
    max-width: 400px;
}
/* essentials */
.essentials{
    background-image: url('./img/essentials.webp');
    background-repeat: no-repeat;
    margin-left: 200px;
    margin-top: 75px;
    display: flex;
}
.essentialhead img{
    margin-top: 250px;
    margin-left: 90px;
}
.cards{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    
}
.card1{
    margin-left: 100px;
    margin-right: 30px;   
}
.card2{
    margin-right: 30px;   
}
.women{
    background-image: url('./img/womenimg.webp');
    background-repeat: no-repeat;
   
    width: 1600px;
    height: 700px;
    margin-left: 200px;
    margin-top: 75px;
}
.btn img{
    width: 170px;
    height: 35px;
    margin-top: 140px;
    margin-left: 40px;

}
.btn img:nth-child(1){
    margin-left: 560px;
}
.h h1,h2{
   margin-left: 700px;
   margin-top: 50px;
}
.h h2{
    color: rgb(85, 133, 248);
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    font-family: "Mier book";
}
.h h1{
    color: darkmagenta;
}
